.app-bar-header {
  display: flex;
  flex-direction: row;
}

.app-bar-header--tabs {
  font-size: 20px;
}

.app-bar-header__theme {
  background: #098027
}

.app-bar-header__tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 160px !important;
  height: auto;
  font-size: 2rem !important;
  font-weight: 600 !important;
}

.app-bar-header__icon {
  margin-left: 7px;
}

.MuiButtonBase-root-97 {
  padding: 0
}

.MuiTab-wrapper-93 {
  padding: 0 !important;
}

.MuiTab-labelContainer-94{
  @media (min-width: 960px) {
    padding: 0 !important;
  }
}

.app-bar-header__text {
  font-size: $font-size-large !important;
}

.dashboard-paper {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
}

.dummy {
  color: #ffffff
}