.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
};

.button--link {
  display: flex;
  flex-direction: row;
  background: none;
  color: white;
  text-decoration: none;
};

.button--submit_exam {
  background: rgb(23, 10, 206) !important;
  color: white !important;
  height: 40px !important;
  width: 121px !important;
  padding: 8px 16px !important;
  margin: 0 !important;
  font-size: $font-size-small !important;
}

.button--secondary {
  background: #888;
};

.button--facebook_login {
    margin-bottom: $s-size;
    background: $blue-facebook;
};

.button--google_login {
  margin-bottom: $s-size;
  background: $red-google;    
};

.login_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button--lower-navigation {
  margin: 10px !important;
  font-size: $font-size-small !important;
}

.button--numbers-navigation {
  font-size: $font-size-small !important;
  margin: 10px !important;
}

.button--start-exam {
  font-size: $font-size-small !important;
  margin: 10px !important;  
}

.button--chosen {
  @extend .button--numbers-navigation;
  border: 1px solid rgb(23, 10, 206) !important;  
  font-size: 1.2rem !important;
}

.button--answered {
  @extend .button--numbers-navigation;
  background-color: rgba(255, 255, 255, 0.1) !important;
  font-size: 1.2rem !important;
}

.button--correct {
  @extend .button--numbers-navigation;
  background-color: rgb(34, 184, 34) !important;
  font-size: 1.2rem !important;
}

.button--mistake {
  @extend .button--numbers-navigation;
  background-color: rgb(199, 67, 44) !important;
  font-size: 1.2rem !important;
}
