.exam {

}

.exam__navigation {
  display: block;
  width: 425px;
}

.exam__navigation-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.exam__question-navigation-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lighten(#4caf50, 30%);
  border-top: 1px solid lighten(#4caf50, 30%);
}

.exam__question {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: $s-size;
  align-items: center;
  width: 425px;
}

.exam__modal-box {
  background: #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.exam__modal_message {
  margin-top: 20px !important;
}

.exam__modal-buttons {
  margin: 20px;

}

.exam__answers {
  
}

.exam__upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.MuiModal-root-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.exam__answer-item {
  border-bottom: 1px solid lighten(hsl(122, 39%, 49%), 30%);
}

.MJXc-display {
  transition: background .3s ease;
  // same as doing .list-item:hover
  padding: 1em 0 !important;
  margin: 0 !important;
  &:hover {
      cursor: pointer;
      background: lighten(#424242, 20%);
  }
}

.exam__answer-correct {
  background: rgb(34, 184, 34) !important;
  &:hover {
      cursor: auto !important;
      background: #424242 !important;
  }
}

.exam__answer-mistake {
  background-color: rgb(199, 67, 44) !important;
  &:hover {
      cursor: auto !important;
      background: #424242 !important;
  }
}

.exam__answer-default {
  background-color: #424242 !important;
  &:hover {
      cursor: initial !important;
      background: #424242 !important;
  }
}

.mjx-math * {
  color: white !important;
}