.practice__subject-selection-container {
  margin-right: $margin-unit-medium;
}

.subject-selection__chips {
  margin-right: $margin-unit-medium;
}

// React CSS Animation Group - practice chips

.practice-chip-fade-enter {
  opacity: 0;
  transform: translateY(100%);
}

.practice-chip-fade-enter.practice-chip-fade-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 1000ms;
}

.practice-chip-fade-leave {
  opacity: 1;
  transform: translateY(0%); 
}

.practice-chip-fade-leave.practice-chip-fade-leave-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1000ms;
}
