.app-bar-header {
  display: flex;
  flex-direction: row;
}

.app-bar-header--tabs {
  font-size: 20px;
}

.app-bar-header__theme {
  background: #098027
}

.app-bar-header__tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  font-size: 1.5rem;
}

.app-bar-header__icon {
  margin: 0;
}

.pencil {
  margin-right: 10px;
}

.MuiButtonBase-root-97 {
  padding: 0
}

.MuiTab-wrapper-93 {
  padding: 0 !important;
}

.MuiTab-labelContainer-94{
  @media (min-width: 960px) {
    padding: 0 !important;
  }
}

.dashboard-paper {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
}

.dummy {
  color: #ffffff
}